.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: teal;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 50px;

  span {
    font-size: large;
    font-weight: bold;
    text-align: center;
    color: #fff;
  }
}
